.container{
    width: 1336px;
    margin: 0 auto;
    /* background-color: blueviolet; */
}
.container-block{
    /* background-color: chartreuse; */
    text-align: center;
    width: 760px;
    margin: 0 auto;
}
h4{
    margin-top: 80px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: #282828;
    
}
h3{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 54px;
    line-height: 62px;
    color: #282828;
    margin-top: 4px;
}
p{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    color: #5F6980;
    margin-top: 16px;
}
.box{
    width: 310px;
    height: 430px;
    /* background-color: cadetblue; */
    /* border: 2px solid red; */
}
.sectiondiv{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 908px;
    align-content: space-between;
    margin-top: 48px;
}
img{
    width: 310px;
    height: 230px;
}
h2{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: #282828;
    font-family: "Inter", sans-serif;
    margin-top: 16px;
}
.p1{
    color: #3E3E59;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    font-family: "Inter", sans-serif;
    margin-top: 4px;
}
.p2{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    font-family: "Inter", sans-serif;
    color: #5F6980;
    margin-top: 8px;
}
.description-div{
    margin-left: 16px;
}
.social-div{
    display: flex;
    align-items: center;
    /* background-color: chartreuse; */
    height: 36px;
    width: 278px;
    margin: 0 auto;
    margin-top: 24px;
    gap: 15px;
    
}
.image{
    width: 18px;
    height: 18px;
    
}
.socials{
    background-color: #F2F4F7;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    width: 100%;
    height: 460px;
    background-color: #53535354;
    margin-top: 48px;
    padding-top: 108px;
    padding-left: 164px;
}
.containerdiv2{
    /* background-color: aquamarine; */
    width: 1128px;
    height: 223px;
   display: flex;
   
}
.footerimg{
    width: 100px;
    height: 64px;
}
.footer-div1{
    width: 318.05px;
    /* background-color: darkkhaki; */
    height: 221px;
}
.footerp{
    color: #535353;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    margin-left: 12px;
    margin-top: 32px;
}
.footersocials-div{
    display: flex;
gap: 7px;
margin-top: 28px;
margin-left: 12px;
}
.footersocials-img{
    width: 24px;
    height: 24px;

}
.footer-div2{
    /* background-color: blueviolet; */
    width: 136px;
    height: 223px;
    margin-left: 74px;
}
.footer-h2{
    font-family: Inter;
font-weight: 600;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color: #1E1E1E;
margin-bottom: 71px;
}
a{
    font-family: Inter;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: #535353;
}
.middle-li{
    margin-top: 15px;
    margin-bottom: 15px;
}
.footerdiv3{
    /* background-color: #3E3E59; */
    width: 199px;
    height: 223px;
    margin-left: 200px;
}
.footer-li{
    font-family: Inter;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: #535353;
}
.footer-li-middle{
    font-family: Inter;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: #535353;
margin-top: 15px;
margin-bottom: 15px;
}
.footerdiv4{
    width: 107px;
    height: 127px;
    margin-left: 94px;
    
    
}
.frameimg{
    width: 80px;
    height: 45px;
    
}